﻿﻿﻿@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

@model AdminPanel_New.Areas.Student.Models.MST_StudentModel;
<div class="d-flex flex-column">
    <form method="post">
        @Html.HiddenFor(x=>x.StudentID)
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mt-3 mb-3">
            <h2>Add / Update Page</h2>
        </div>
        <div class="mb-3 row form-group">
            <label class="col-sm-2 col-form-label">Student Name</label>
            <div class="col-xl-4">
                <input type="text" class="form-control" asp-for="StudentName" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mb-3 row">
            <label class="col-sm-2 control-label col-form-label">Branch</label>
            <div class="col-xl-4">
                <select class="form-control" asp-for="BranchID" asp-items="@(new SelectList(ViewBag.BranchList,"BranchID","BranchName"))">
                    <option value="">Select Branch</option>
                </select>
                <span asp-validation-for="BranchID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mb-3 row">
            <label class="col-sm-2 control-label col-form-label">City</label>
            <div class="col-xl-4">
                <select class="form-control" asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))">
                    <option value="">Select City</option>
                </select>
                <span asp-validation-for="CityID" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Mobile No Father</label>
            <div class="col-xl-4">
                <input type="text" class="form-control" asp-for="MobileNoFather" />
                <span asp-validation-for="MobileNoFather" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Mobile No Student</label>
            <div class="col-xl-4">
                <input type="text" class="form-control" asp-for="MobileNoStudent" />
                <span asp-validation-for="MobileNoStudent" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-xl-4">
                <input type="text" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-xl-4">
                <input type="text" class="form-control" asp-for="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">BirthDate</label>
            <div class="col-xl-4">
                <input type="text" class="form-control" asp-for="BirthDate" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Age</label>
            <div class="col-xl-4">
                <input type="text" class="form-control" asp-for="Age" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">IsActive</label>
            <div class="col-xl-4">
                <input type="text" class="form-control" asp-for="IsActive" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Gender</label>
            <div class="col-xl-4">
                <input type="text" class="form-control" asp-for="Gender" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-xl-4">
                <input type="text" class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit" asp-area="Student" asp-controller="MST_Student" asp-action="AddEditStudent">Save</button>
        </div>
    </form>
</div>