﻿@using System.Data;
@using AdminPanel_New.Areas.Student.Models;
@model DataTable
@{
    ViewData["Title"] = "Student List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form class="row row-cols-lg-auto g-3 align-items-center">
    <h1 class="text-center">Student List</h1>
    <div class="text-center">
        <input type="submit" class="btn btn-primary m-4 " value="ADD Student" asp-action="Add" asp-controller="MST_Student" asp-area="Student">
    </div>
</form>

<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">StudentName</th>
            <th scope="col">BranchName</th>
            <th scope="col">CityName</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Actions</th>



        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["StudentName"]</td>
                <td>@dr["BranchName"]</td>
                <td>@dr["CityName"]</td>
                <td>@dr["Gender"]</td>
                <td>@dr["Email"]</td>
                <td>@dr["Age"]</td>
                @* <td>@Convert.ToDateTime(dr["BirthDate"]).ToString("MM/dd/yyyy H:mm")</td> *@
           @*      <td>@dr["MobileNoStudent"]</td>
                <td>@dr["MobileNoFather"]</td> *@
         @*        <td>@Convert.ToDateTime(dr["Created"]).ToString("MM/dd/yyyy H:mm")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("MM/dd/yyyy H:mm")</td> *@
                <td>
                    <form asp-area="Student" asp-controller="MST_Student" asp-action="Delete">
                        <input type="hidden" name="StudentID" value="@Convert.ToInt32(dr["StudentID"])">
                        <button type="submit" class="btn btn-danger btn-xs">delete</button>
                        <a class="btn btn-info btn-xs" asp-area="Student" asp-controller="MST_Student" asp-action="Add" asp-route-studentid="@Convert.ToInt32(dr["StudentID"])">edit</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
        