﻿@using AdminPanel_New.Areas.Branch.Models
@model MST_BranchModel
@{
    ViewData["Title"] = "Add/Edit Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Add /Edit Branch</h4>
<hr />
<form method="post" asp-area="Branch" asp-controller="MST_Branch" asp-action="AddEditBranch">
    @Html.HiddenFor(x=>x.BranchID)
    <div class="form-group row m-4">
        <label class="col-sm-2 col-form-label">Branch Name </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Branch Name" asp-for="BranchName">
            <span asp-validation-for="BranchName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row m-4">
        <label class="col-sm-2 col-form-label">Branch Code </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder=" Branch Code" asp-for="BranchCode">
            <span asp-validation-for="BranchCode" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary m-4">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}