﻿@using System.Data;
@{
    ViewData["Title"] = "Branch List";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<br />
<form class="row row-cols-lg-auto g-3 align-items-center">
    <h1 class="text-center">Branch List</h1>
    <div class="text-center">
        <input type="submit" class="btn btn-primary m-4 " value="ADD Branch" asp-action="add" asp-controller="MST_Branch" asp-area="Branch">
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">BranchName</th>
            <th scope="col">BranchCode</th>
            <th scope="col">Created</th>
            <th scope="col">Modified At </th>
            @* <th scope="col">Actions </th> *@


        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["BranchName"]</td>
                <td>@dr["BranchCode"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString("dd/MM/yyyy H:mm")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd/MM/yyyy H:mm   ")</td>
                <td>
                    <form method="post" asp-controller="MST_Branch" asp-action="Delete">
                        <input type="hidden" name="BranchID" value="@Convert.ToInt32(dr["BranchID"])">
                        <button type="submit" class="btn btn-danger btn-xs">delete</button>
                        <a class="btn btn-info btn-xs" asp-controller="MST_Branch" asp-action="Add" asp-route-branchid="@Convert.ToInt32(dr["BranchID"])">edit</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
