﻿@{
    ViewData["Title"] = "Add/Edit State";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AdminPanel_New.Areas.States.Models
@model LOC_StateModel

<h4 class="fw-bold">Add / Edit State</h4>
<hr>
<form asp-area="States" asp-controller="LOC_State" asp-action="AddEditState">
    @Html.HiddenFor(x=>x.StateID)
    <div class="form-group row m-3">
        <label class="col-sm-2 col-form-label">State Name </label>
        <div class="col-sm-8 ">
            <input type="text" class="form-control" placeholder=" State Name" asp-for="StateName"/>
            <span asp-validation-for="StateName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row m-3">
        <label class="col-sm-2 col-form-label">State Code </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder=" State Code" asp-for="StateCode" />
            <span asp-validation-for="StateCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row m-3">
        <label class="col-sm-2 col-form-label">Select Country</label>
        <div class="col-md-9">
            <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                <option value="">Select Country</option>
            </select>
            <span asp-validation-for="CountryID" class="text-danger"></span>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary m-3">Submit</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}