﻿@using System.Data;
@using AdminPanel_New.Areas.States.Models;
@model DataTable
@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form class="row row-cols-lg-auto g-3 align-items-center">
    <h1 class="text-center">State List</h1>
    <div class="text-center">
        <input type="submit" class="btn btn-primary m-4 " value="ADD State" asp-action="Add" asp-controller="LOC_State" asp-area="States">
    </div>
</form>

<br>

<table>
    
    <tr>
        <td>
            <div class="form-group row m-3 ">
                <div class="col-md-12">
                    <select class="form-control" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                        <option value="">Select Country</option>
                    </select>
                </div>
            </div>
        </td>
        <td>
            <form method="get" asp-area="States" asp-controller="LOC_State" asp-action="Searchstate">
                <div class="input-group m-3 row-3 ">
                    <input type="text" class="form-control" placeholder="Enter State Name" aria-describedby="basic-addon2" name="StateName">
                    <div class="input-group-append">
                        <input class="btn btn-outline-secondary" type="submit" value="Search" />
                    </div>
                </div>
            </form>
        </td>
    </tr>
</table>


<table class="table">
    <thead>
        <tr>
            @*<th scope="col">StateID</th>*@
            <th scope="col">StateName</th>
            <th scope="col">StateCode</th>
            <th scope="col">CountryName</th>
            <th scope="col">CountryCode</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                @*<td>@dr["StateID"]</td>*@
                <td>@dr["StateName"]</td>
                <td>@dr["StateCode"]</td>
                <td>@dr["CountryName"]</td>
                <td>@dr["CountryCode"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString("MM/dd/yyyy H:mm")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("MM/dd/yyyy H:mm")</td>
                <td>
                    <form asp-area="States" asp-controller="LOC_State" asp-action="Delete">
                        <input type="hidden" name="StateID" value="@Convert.ToInt32(dr["StateID"])">
                        <button type="submit" class="btn btn-danger btn-xs">delete</button>
                        <a class="btn btn-info btn-xs" asp-area="States" asp-controller="LOC_State" asp-action="Add" asp-route-stateid="@Convert.ToInt32(dr["StateID"])">edit</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
