﻿@using AdminPanel_New.Models
@model SearchModel
<br />
@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Locations</h1>
<br />


<form method="get" asp-controller="Home" asp-action="SearchLocation">
    <div class="form-group row m-3 ">
        <label class="col-sm-2 col-form-label">Select Country</label>
        <div class="col-md-3">
            <select class="form-control" onchange="fnOnStateChange();" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" id="CountryID">
                <option disabled selected>Select Country</option>
            </select>
            <span  class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row m-3">
        <label class="col-sm-2 col-form-label">Select State</label>
        <div class="col-md-3">
            <select class="form-control" asp-for="StateID"  id="StateID">
                <option disabled selected>Select State</option>
            </select>
            <span  class="text-danger"></span>
        </div>
    </div>
    <div class="input-group m-3 col-3 ">
        <input type="text" class="form-control" placeholder="Enter City Name" aria-describedby="basic-addon2" name="CityName">
        <div class="input-group-append">
            <input class="btn btn-primary" type="submit" value="Search" />
        </div>
    </div>

</form>



<table class="table">
    <thead>
        <tr>
            <th scope="col">CountryName</th>
            <th scope="col">StateName</th>
            <th scope="col">StateCode </th>
            <th scope="col">CityName </th>
            <th scope="col">CityCode </th>
            <th scope="col">Created </th>
            <th scope="col">Modified </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dr in ViewBag.ListOfLocation)
        {
            <tr>
                <td>@dr.CountryName</td>
                <td>@dr.StateName</td>
                <td>@dr.StateCode</td>
                <td>@dr.CityName</td>
                <td>@dr.CityCode</td>
                <td>@Convert.ToDateTime(dr.Created).ToString("MM/dd/yyyy H:mm")</td>
                <td>@Convert.ToDateTime(dr.Modified).ToString("MM/dd/yyyy H:mm")</td>

            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function fnOnStateChange() {
            var CountryID = $("#CountryID").val();
            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountryForStateInIndex", "Home")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                });
                        },
                        error: function (r) {
                            alert("Error while loading combobox.");
                        }
                    });
            } else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }
    </script>
}