﻿@{
    ViewData["Title"] = "Add/Edit City";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AdminPanel_New.Areas.City.Models
@model LOC_CityModel
<h4 class="fw-bold">Add / Edit City</h4>
<hr>
<form asp-area="City" asp-controller="LOC_City" asp-action="AddEditCity">
    @Html.HiddenFor(x=>x.CityID)
    <div class="form-group row m-3">
        <label class="col-sm-2 col-form-label">City Name </label>
        <div class="col-sm-8">
            <input type="text" asp-for="CityName" class="form-control" placeholder=" City Name" />
            <span asp-validation-for="CityName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row m-3">
        <label class="col-sm-2 col-form-label">City Code </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" asp-for="CityCode" placeholder=" City Code" />
            <span asp-validation-for="CityCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row m-3">
        <label class="col-sm-2 col-form-label">Select Country</label>
        <div class="col-md-9">
            <select class="form-control" onchange="fnOnStateChange();" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" id="CountryID" >
                <option disabled selected>Select Country</option>
            </select>
            <span asp-validation-for="CountryID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row m-3">
        <label class="col-sm-2 col-form-label">Select State</label>
        <div class="col-md-9">
           <select class="form-control" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
                <option value="">Select State</option>
            </select>
            <span asp-validation-for="StateID" class="text-danger"></span>
@*             <select class="form-control" asp-for="StateID"  id="StateID">
                <option disabled selected>Select State</option>
            </select>
             *@
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary m-3">Submit</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function fnOnStateChange() {
            var CountryID = $("#CountryID").val();
            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountryForState", "LOC_City")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                });
                        },
                        error: function (r) {
                            alert("Error while loading combobox.");
                        }
                    });
            } else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }
    </script>
}