﻿@using System.Data;
@model DataTable
<br />
@{
    ViewData["Title"] = "City List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="row row-cols-lg-auto g-3 align-items-center">
    <h1 class="text-center">City List</h1>
    @*    <hr />*@
    <div class="text-center">
        <input type="submit" class="btn btn-primary m-4 " value="ADD City" asp-area="City" asp-action="Add" asp-controller="LOC_City" >
    </div>
</form>
<br />

<form method="get" asp-area="City" asp-controller="LOC_City" asp-action="SearchCity">
    <div class="input-group m-3 row-3 ">
        <input type="text" class="form-control" placeholder="Enter City Name" aria-describedby="basic-addon2" name="CityName">
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Search" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            @*<th scope="col">CityID</th>
            <th scope="col">StateID</th>*@
            <th scope="col">CityName </th>
            <th scope="col">CityCode </th>
            <th scope="col">CountryName</th>
            <th scope="col">StateName</th>      
            <th scope="col">StateCode </th>
            <th scope="col">Created </th>
            <th scope="col">Modified </th>
            <th scope="col">Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                @*<td>@dr["CityID"]</td>
            <td>@dr["StateID"]</td>*@
                <td>@dr["CityName"]</td>
                <td>@dr["CityCode"]</td>
                <td>@dr["CountryName"]</td>
                <td>@dr["StateName"]</td>
                <td>@dr["StateCode"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString("MM/dd/yyyy H:mm")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("MM/dd/yyyy H:mm")</td>
                <td>
                    <form asp-area="City" asp-controller="LOC_City" asp-action="Delete" >
                        <input type="hidden" name="CityID" value="@Convert.ToInt32(dr["CityID"])">
                        <button type="submit" class="btn btn-danger btn-xs">delete</button>
                        <a class="btn btn-info btn-xs" asp-area="City" asp-controller="LOC_City" asp-action="Add" asp-route-cityid="@Convert.ToInt32(dr["CityID"])">edit</a>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>