﻿@using AdminPanel_New.Areas.Country.Models
@model LOC_CountryModel
@{
    ViewData["Title"] = "Add/Edit Country";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Add /Edit Country</h4>
<hr />
<form method="post" asp-area="Country" asp-controller="LOC_Country" asp-action="AddEditCountry">
    @Html.HiddenFor(x=>x.CountryID)
    <div class="form-group row m-4">
        <label class="col-sm-2 col-form-label">Country Name </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Country Name" asp-for="CountryName">
            <span asp-validation-for="CountryName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row m-4">
        <label class="col-sm-2 col-form-label">Country Code </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder=" Country Code" asp-for="CountryCode">
            <span asp-validation-for="CountryCode" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary m-4">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}