﻿@using System.Data
@model DataTable
@{
    ViewData["Title"] = " Country List ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form class="row row-cols-lg-auto g-3 align-items-center">
    <h1 class="text-center">Country List</h1>
    <div class="text-center">
        <input type="submit" class="btn btn-primary m-4 " value="ADD Country" asp-action="Add" asp-controller="LOC_Country" asp-area="Country">
    </div>
</form>

<br>

<form method="get" asp-area="Country" asp-controller="LOC_Country" asp-action="SearchContry">
    <div class="input-group mb-3 row-3">
        <input type="text" class="form-control" placeholder="Enter Country Name" aria-describedby="basic-addon2" name="CountryName">
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Search"/>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            @*<th scope="col">CountryID</th>*@
            <th scope="col">CountryName</th>
            <th scope="col">CountryCode</th>
            <th scope="col">Created</th>
            <th scope="col">Modified At </th>
            <th scope="col">Actions </th>


        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                @*<td>@dr["CountryID"]</td>*@   
                <td>@dr["CountryName"]</td>
                <td>@dr["CountryCode"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString("dd/MM/yyyy H:mm")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd/MM/yyyy H:mm   ")</td>
                <td>
                    <form method="post" asp-controller="LOC_Country" asp-action="Delete">
                        <input type="hidden" name="CountryID" value="@Convert.ToInt32(dr["CountryID"])">
                        <button type="submit" class="btn btn-danger btn-xs">delete</button>
                        <a class="btn btn-info btn-xs" asp-controller="LOC_Country" asp-action="Add" asp-route-countryid="@Convert.ToInt32(dr["CountryID"])">edit</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


@*@section Scripts{
<script>
    var object={ status:false , ele=null};

    function displayPopUp(){
        if(status){return true;}
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            },

            )
    }
</script>
}*@